* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*nav list styling */
nav {
    margin-bottom: 1em;
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e22002;
    font-size: 11px;
}

a {
    color: white;
    text-decoration: none;
}

li {
    margin: 1em;
    list-style: none;
}

nav ul:nth-child(2) li:nth-child(1) {
    margin-right: 29vw;
}

/* side navigation van hamburger menu */
.sidenavigation {
    transform: translateX(-100%);
    background-color: #e22002;
    width: 100%;
    transition: .3s ease-in-out;
}

.sidenavigation.active {
    transform: translateX(0);
    padding-left: 6em;
}

ul {
    display: flex;
    list-style-type: none;
}

/* Hamburger menu met codepen van Janno tijdens de les, https://codepen.io/Guilano/pen/jOOgZKE */
div {
    width: 3rem;
    height: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    margin: 1.5rem 0 0 1rem;
}

span {
    height: .4rem;
    width: 100%;
    display: block;
    background-color: white;
    border-radius: .5rem;
}

span::before,
span::after {
    content: '';
    height: .4rem;
    width: 100%;
    position: absolute;
    background-color: white;
    border-radius: .5rem;
    transition: .5s;
}

span::before {
    top: 0px;
}

span::after {
    bottom: 0px
}

.hamburger {
    position: absolute;
    z-index: 1;
}

.hamburger.active span {
    background: rgba(0, 0, 0, 0);
    transition: .5s;
}

.hamburger.active span::before {
    transform: rotate(135deg);
    top: 12px;
}

.hamburger.active span::after {
    top: 12px;
    transform: rotate(225deg);
}

/* einde hamburger menu styling */


/* plaatsing content blokken homepagina */
section {
    display: flex;
    flex-flow: wrap;
    text-align: center;
}

/* Afbeeldingen op landingspagina, Float up animatie met behulp van https://codepen.io/areteika/pen/txurk */
.frontpageimg > a,
.frontpageimg img {
    border-radius: 10px;
    padding: 2px;
    margin-top: 6px;
    width: 100%;
    height: auto;
    transition: box-shadow .4s;
    -webkit-transition: margin 0.2s ease-in;
    -moz-transition: margin 0.2s ease-in;
    -o-transition: margin 0.2s ease-in;
}

.frontpageimg > a:hover,
.frontpageimg img:hover {
    cursor: pointer;
    margin-top: 2px;
    box-shadow: 1px 6px 6px -2px rgba(0, 0, 0, 0.4);
}


/* Blokken content detailpagina, gradients gemaakt met behulp van https://www.colorzilla.com/gradient-editor/ */
main > article > section {
    color: #202267;
    padding: 1em;
    background: linear-gradient(to bottom, rgba(247, 81, 125, 1) 3%, rgba(255, 255, 255, 1) 75%);
    display: block;
    text-align: center;
    border-radius: 10px;
    width: 60vw;
    margin: auto;
    margin-top: 1em;
}



section:nth-child(3) img {
    width: 25vw;
    margin-left: 40vw;
    
}

/* call to action styling detailspagina */
section:nth-child(5) img {
    padding-left: 45vw;
    transition: .2s ease-in;
}

section:nth-child(5) img:hover {
    cursor: pointer;
    padding-left: 52vw;
    transition: .2s ease-out;

}

section:nth-child(5) {
    background: white;
    transition: .2s ease-in;
}

section:nth-child(5):hover {
    background: linear-gradient(to bottom, rgba(247, 81, 125, 1) 3%, rgba(255, 255, 255, 1) 75%);
    transition: .2s ease-out;
}

/* tekst styling detail pagina */
h2 {
    color: #8A1811;
    font-weight: 700;
    font-size: 40px;
}

p {
    padding: 1em 0 0 1em;
    text-align: left;
}

/* video op detailpagina*/
main > article > figure > video {
    border-radius: 10px;
    width: 60vw;
    height: auto;
    margin: auto;
    margin-bottom: 1em;
    text-align: center;
    display: block;
}

/* details pagina background image */
.detailpage {
    background-image: url(../images/bg_map_large.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* images detailpagina styling */
main > article > section > figure > img {
    border-radius: 10px;
    width: 30vw;
    height: auto;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 2em;
    text-align: center;
    display: block;

}

/* form styling */
form fieldset {
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    padding: 1em;
}

fieldset > label {
    margin: 1vw;
}

fieldset > input {
    margin-top: .5em;
    width: 20em;
    height: 3em;
}

fieldset > input:hover {
    outline: 1px solid black;
}

fieldset > input:invalid {
    border: 1px solid red;
}

fieldset > input:valid {
    border: 1px solid green;
}

textarea {
    width: 30vw;
    height: auto;
}

/* key visual styling */
main > article > figure > img {
    width: 80vw;
    height: auto;
    margin: auto;
    margin-top: 2em;
    text-align: center;
    display: block;

}

/* footer styling */
footer {
    width: auto;
    color: white;
    background-color: #bf0010;
    font-size: 12px;
    font-weight: 800;
}

footer > ul {
    display: flex;
    flex-flow: wrap;
    text-align: left;
}


/* responsive maken van elementen op de pagina's */
@media only screen and (max-width: 40em) {

    /* navigatie die veranderd wanneer het scherm 40em of kleiner wordt */
    nav {
        margin-bottom: 1em;
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
        background-color: #e22002;
        font-size: 11px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    li {
        margin: 1em;
        list-style: none;
    }

    nav ul:nth-child(2) li:nth-child(1) {
        margin-right: 0;
        display: none;
    }

    /*video veranderd wanneer het scherm 40em of kleiner wordt */
    video {
        width: 100%;
        height: auto;
    }

    /*content blokken detail pagina veranderen wanneer het scherm 40em of kleiner wordt */
    main > article > section {
        color: #202267;
        padding: 1em;
        background: linear-gradient(to bottom, rgba(247, 81, 125, 1) 3%, rgba(255, 255, 255, 1) 75%);
        display: block;
        text-align: center;
        border-radius: 10px;
        width: 90vw;
        height: auto;
    }

    /* galar pokemon veranderen wanneer het scherm 40em of kleiner wordt */
    section:nth-child(3) img {
    width: 30vw;
    margin-left: 60vw;   
}

}
