* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navigatie {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #e22002;
    font-size: 11px;
}


.links {
    display: flex;
    

}

a {
    color: white;
    text-decoration: none;
    
}

li {
    margin: 1em;
    list-style: none;

}

section {
    display: flex;
    flex-flow: row wrap;
    padding-top: 65px;

}

/* Float up animatie met behulp van https://codepen.io/areteika/pen/txurk */
.frontpageimg {
    border-radius: 10px;
    padding: 2px;
    margin-top: 6px;
    width: 100%;
    height: auto;
    transition: box-shadow .4s;
    -webkit-transition: margin 0.2s ease-in;
    -moz-transition: margin 0.2s ease-in;
    -o-transition: margin 0.2s ease-in;
}

.frontpageimg:hover {
    cursor: pointer;
    margin-top: 2px;
    box-shadow: 1px 8px 6px -2px rgba(0, 0, 0, 0.4);
}

footer {
   color: white;
   background-color: #bf0010;
   font-size: 16px;
   font-weight: 800;
}
